
@*<input type="button" style="display: inherit" value="Stäng" onclick="closePopup()" />*@
<h2>Parkera ny bil</h2>


@using (Html.BeginForm("Create", "Garage"))
{
    @Html.AntiForgeryToken();
    @Html.Partial("_VehicleForm");

    <input type="submit" class="button" value="Parkera Bil" />

}

