@model ParkingHouse.Models.ViewModels.Home.HomeIndexViewModel

<div class="jumbotron" id="commercial">
    <div class="commercial-headline">
        <h2>Bulldozer Garage!</h2>
    </div>
    <div class="commercial-information">
        <h3>Välkomen till oss! </h3>
        <p>
            @Html.DisplayFor(m => m.NumberOfLots) parkeringplatser.<br />
        @Html.DisplayFor(m => m.FreeLots) lediga!
    </p>
    <p>@Html.DisplayFor(m => m.costHour) kr / Timmen!</p>
</div>
</div>
